<h1>Modifier le profile de <%= current_user.username %> </h1>

<div class="container">
  <%= simple_form_for [@user, @profile] do |f|%>
    <%= f.input :address %>
    <%= f.input :category %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :available, :input_html => { :checked => true } %>
    <%= f.submit %>
  <% end %>
</div>
