<div class="profiles">

  <div class="main-container">
  	<div class="row" style="width: 100%;margin:0px;">

  		<div class="col-12 col-lg-6">
        <% @profiles.each do |profile| %>
         <%= link_to profile_path(profile) do %>
            <div class="card-list">
              <div class="card-product">
                <div class="picture">
                  <%= cl_image_tag(profile.photo.key, height: 300, width: 400, crop: :fill) if profile.photo.attached? %>    </div>
                <div class="annonce">
                  <div class="card-head">
                    <div class="index-adress">
                      <p><%= profile.address.capitalize %></p>
                    </div>
                    <div class="card__title">
                      <% if profile.available? %>
                        <%= image_tag("icon-disponible.png", class:"img-available", :transformation=>[{height: 70, width: 70, crop: :fill}]) %>
                      <% else %>
                        <%= image_tag("icon-disponible.png", class:"img-available img-unavailable", :transformation=>[{height: 70, width: 70, crop: :fill}]) %>
                      <% end %>
                    </div>
                  </div>
                  <div class="infos">
                  <h2><%= profile.title %></h2>
                    <p><%= profile.category %></p>
                    <p><%= profile.description %></p>
                  </div>
                  <% end %>

                  <div class="book-reservation">

                    <%= link_to "Réserver", new_profile_booking_path(profile), class:"btn btn-outline-secondary" %>
                    <h3><%= profile.price; %>€<span class="petit">/jour</span></h3>

                  </div>

                </div>
              </div>
            </div>
        <% end %>

 </div>

  		<div class="col-12 col-lg-6 map-part">
        <div id="map"
           style="width: 100%; height: 600px;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>


  	</div>
  </div>
</div>

<!-- do not change the markup -->



