<div class="profiles">

  <div class="main-container">
  	<div class="row" style="width: 100%;margin:0px;">

  		<div class="col-12 col-lg-6">
        <% @profiles.each do |profile| %>
         <%= link_to profile_path(profile), style:"text-decoration:none;" do %>
            <div class="card-list">
              <div class="card-product">
                <div class="picture">
                  <%= cl_image_tag(profile.user.photo.key) if profile.user.photo.attached? %>    </div>
                <div class="annonce">
                  <p><%= profile.address %></p>
                  <div class="infos">
                  <h2><%= profile.user.name %></h2>
                    <p><%= profile.category %></p>
                    <p><%= profile.description %></p>
                  </div>
                  <div class="book">
                    <button type="button", class="btn btn-outline-secondary">Réserver</button>
                    <h3><%= profile.price; %>€</h3>

                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

    			<!-- 	END	TEST -->
  		</div>

  		<div class="col-12 col-lg-6">
  			<div id="map">
  				<script>
  				mapboxgl.accessToken = 'pk.eyJ1IjoiZnJhbnR6Zm9ydHVuYXQiLCJhIjoiY2lncG9wdGo3MDAya3V5bHhhcm40b3JkZCJ9.TG_VrwnzjVzCMQ5OmSXKmw';
  				var map = new mapboxgl.Map({
  				container: 'map', // container id
  				style: 'mapbox://styles/mapbox/streets-v11', // style URL
  				center: [-74.5, 40], // starting position [lng, lat]
  				zoom: 9 // starting zoom
  				});
  				</script>
  			</div>
  		</div>


  	</div>
  </div>
</div>


<!-- do not change the markup -->



