<div class="container d-flex justify-content-center mt-10">
  <div class="rowc col-6">
    <div class="card" style="width: 100%;">
          <%= cl_image_tag @profile.photo.key if @profile.photo.attached? %>
      <div class="card-body">
           <h3><%= @profile.title %></h3>
          <p>Annonce publiée par <%= @profile.user.name %></p>
        <h4>Ma description : </h4>
        <p class="card-text"><%= @profile.description %></p>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Adresse : <%= @profile.address %></li>
        <li class="list-group-item">Handicap : <%= @profile.category %></li>
        <li class="list-group-item">Prix à l'heure : <%= @profile.price %></li>
      </ul>
      <div class="card-body">
        <%= link_to "Retour", profiles_path  %>
        <%= link_to "Modifier", edit_profile_path(@profile) %>
        <%= link_to "Supprimer", profile_path(@profile), method: :delete, data: { confirm: "Êtes vous sûrs de vouloir supprimer votre annonce ?"} %>
        <button type="button"><%= link_to "Réserver", new_profile_booking_path(@profile) %></button>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="card-show">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="annonce">
          <div class="back-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @profile.photo.key, height: 650, width: 800, crop: :fill %>');">
           <div class="haut" >
            <h1><%= @profile.title %></h1>
            <p><%= @profile.category %></p>
          </div>
        </div>
          <div class="bas">
            <div class= "more">
              <p>13 rue de xxxx </p>
              <h4>40E</h4>
            </div>
            <p>Dispo pour mariages et enterrements</p>
          </div>
        </div>
        </div>
   </div>


    </div>
    <div class="col-12 col-lg-4">
    <p>Test</p>
    </div>
  </div>
</div>
