<div class="container d-flex justify-content-center mt-10">
  <div class="rowc col-6">
    <div class="card" style="width: 100%;">
      <%= cl_image_tag(@profile.user.photo.key, :transformation=>[{height: 400, width: 500, crop: :fill}]) if @profile.user.photo.attached? %>
      <div class="card-body">
        <div class="card__title">
          <% if @profile.available? %>
            <%= image_tag("icon-disponible", class:"img-available", :transformation=>[{height: 70, width: 70, crop: :fill}]) %>
          <% else %>
            <%= image_tag("icon-disponible", class:"img-available img-unavailable", :transformation=>[{height: 70, width: 70, crop: :fill}]) %>
          <% end %>
        </div>
        <h3>Annonce de <strong><%= @profile.user.username %></strong></h3>
        <h4>Ma description : </h4>
        <p class="card-text"><%= @profile.description %></p>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Adresse : <%= @profile.address %></li>
        <li class="list-group-item">Handicap : <%= @profile.category %></li>
        <li class="list-group-item">Prix à l'heure : <%= @profile.price %></li>
      </ul>
      <div class="card-body">
        <%= link_to "Retour", profiles_path  %>
        <%= link_to "Modifier Profile", edit_profile_path(@profile) %>
        <button type="button"><%= link_to "Réserver", new_profile_booking_path(@profile) %></button>
      </div>
    </div>
  </div>
</div>
