
<div class="show-container">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="card-show">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="annonce">
          <div class="back-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @profile.photo.key, height: 650, width: 800, crop: :fill %>');">
           <div class="haut" >
            <h1><%= @profile.title %></h1>
            <p><%= @profile.category %></p>
          </div>
          <div class="links-show">
              <%= link_to profiles_path do %>
                <i class="fas fa-backward"></i>
              <% end %>
              <%= link_to edit_profile_path(@profile) do %>
                <i class="fas fa-user-edit"></i>
              <% end %>
              <%= link_to profile_path(@profile), method: :delete, data: { confirm: "Êtes vous sûrs de vouloir supprimer votre annonce ?"} do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
          </div>
        </div>
          <div class="bas">
            <div class= "more">
              <p><%= @profile.address %></p>
              <h4><%= @profile.price %>€</h4>
            </div>
            <p><%= @profile.description %></p>
          </div>
            </div>

          </div>
        </div>
        </div>
   </div>


    </div>
      <div class="col-12 col-lg-4">
        <div class="booking-container">
            <h3>Réserver la prestation de <%= @profile.user.name %> </h3>
          <div class="booking-form">
            <%= simple_form_for [@profile, @booking] do |f| %>
            <%= f.input :start_time, label: "Date de début", as: :date, html5: true, class:"start-time" %>
            <%= f.input :end_time, label: "Date de fin", as: :date, html5: true, class:"end-time" %>
            <%= f.button :submit, "Réserver", class: "btn btn-primary", class:"reserve" %>
            <% end %>
          </div>
        </div>

      </div>

</div>
