<div class="container sign-form">
  <div class="log-in-form">
    <div>
      <h2>Inscrivez-vous</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

          <div class="form-group">
            <%= f.input :name,
                        required: true,
                        class: "form-control" %>
            <%= f.input :username,
                        required: true,
                        class: "form-control" %>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" },
                        class: "form-control" %>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" },
                        class: "form-control" %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" },
                        class: "form-control" %>
            <%= f.input :photo, as: :file %>

            <%= f.submit class: "btn btn-primary" %>
          </div>
        <div class="form-links">
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


