<h1>Votre réservation avec <%= @booking.profile.user.name %></h1>

<ul>
	<li><%= "Titre de l'annonce: #{@booking.profile.title}" %></li>
	<li><%= cl_image_tag(profile.photo.key, height: 300, width: 400, crop: :fill) if profile.photo.attached? %></li>
	<li><%= "Du #{@booking.start_time.strftime("%m/%d/%Y")} au #{@booking.end_time.strftime("%m/%d/%Y")}" %></li>
	<li><%= "Durée: #{@booking.duration} jour(s)" %></li>
	<li><%= "Prix: #{@booking.price}€" %></li>
	<li><%= "Description: #{@booking.profile.description}" %></li>
</ul>

<%= link_to "Retour aux annonces", dashboard_path %> <br>
<%= link_to "Annuler votre commande", booking_path(@booking), method: :delete, data: { confirm: "Êtes-vous sûr(e) d'annuler votre commande ?" } %>