<div class="booking-show-container">

  <h2>Votre réservation avec <%= @booking.profile.user.name %></h2>

  <h1><%= "Titre de l'annonce: #{@booking.profile.title}" %></h1>
  <p><%= "Du #{@booking.start_time.strftime("%m/%d/%Y")} au #{@booking.end_time.strftime("%m/%d/%Y")}" %></p>
  <p><%= "Durée: #{@booking.duration} jour(s)" %></p>
  <p><%= "Prix: #{@booking.price}€" %></p>
  <p><%= "Description: #{@booking.profile.description}" %></p>

  <%= link_to "Retour aux annonces", dashboard_path %>
  <%= link_to booking_path, method: :delete, data: { confirm: "Êtes-vous sûr(e) d'annuler votre réservation ?" } do %>
    <p><i class="fas fa-ban"></i> Annuler</p>
  <% end %>
</div>
