<h1><%= "Bienvenu(e) sur votre tableau de bord #{@user.username.capitalize}!" %></h1>
<br>

<h2>Vos réservations en cours :</h2> 
<br>
  <% @bookings.each do |booking| %>
    <% if booking.end_time > Date.today && booking.start_time < Date.today %> 
      <ul class="">
        <li class="">
          <%= "Titre de l'annonce: #{booking.profile.title}" %>
          <%= "Durée: #{booking.duration} jour(s)" %>
          <%= "Prix: #{booking.price}€" %>
          <%= link_to "Détails de votre commande", booking_path(booking) %>
          <%= link_to "Annuler", booking_path(booking), method: :delete, data: { confirm: "Êtes-vous sûr(e) d'annuler votre commande ?" } %>
        </li>
      </ul>
    <% end %>
  <% end %>


<h2>Vos réservations à venir :</h2> 
<br>
  <% @bookings.each do |booking| %>
    <% if booking.end_time > Date.today %> 
      <ul class="">
        <li class="">
          <%= "Titre de l'annonce: #{booking.profile.title}" %>
          <%= "Durée: #{booking.duration} jour(s)" %>
          <%= "Prix: #{booking.price}€" %>
          <%= link_to "Détails de votre commande", booking_path(booking) %>
          <%= link_to "Annuler", booking_path(booking), method: :delete, data: { confirm: "Êtes-vous sûr(e) d'annuler votre commande ?" } %>
        </li>
      </ul>
    <% end %>
  <% end %>

<h2>Vos réservations passées :</h2> 
<br>
  <% @bookings.each do |booking| %>
  <% if booking.end_time < Date.today %> 
      <ul class="">
        <li class="">
        	<%= "Titre de l'annonce: #{booking.profile.title}" %>
        	<%= "Durée: #{booking.duration} jour(s)" %>
        	<%= "Prix: #{booking.price}€" %>
          <%= link_to "Détails de votre commande", booking_path(booking) %>
          <%= link_to "Réserver de nouveau", new_profile_booking_path(booking.profile) %>
        </li>
      </ul>
    <% end %>
  <% end %>

<%= link_to "Retour aux annonces", profiles_path  %>
