<%= render partial: "home_slideshow_js" %>

<div class="home">

  <div id="slideshow">

     <div class="content">
        <%= image_tag "logo.png", alt: "fastpass", class:"logo" %>
        <h1>Adopte un non valide !</h1>

        <div class="home-form">
          <%= form_tag profiles_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Choisissez une ville"
            %>
            <%= submit_tag "Go !", class: "btn btn-primary go" %>
          <% end %>
        </div>

      <%= link_to "Voir toutes nos annonces", profiles_path, class:"btn btn-outline-light btn-lg all" %>

   </div>
  </div>
 <!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel"> -->
<!--     <div class="carousel-inner"> -->
<!--        <div class="carousel-item active" style="background-image: url('<%= image_path "fauteuil.jpg" %>'); height: 100vh; background-size: cover; background-position: center; filter: grayscale(100%);"> -->
<!--         -->
<!--         </div> -->
<!--         <div class="carousel-item" style="background-image: url('<%= image_path "enceinte.jpg" %>'); height: 100vh; background-size: cover; background-position: center; filter: grayscale(100%);"> -->
<!--         </div> -->
<!--         <div class="carousel-item" style="background-image: url('<%= image_path "vieux.jpg" %>'); height: 100vh; background-size: cover; background-position: center; filter: grayscale(100%);"> -->
<!--         </div> -->
<!--      </div> -->
<!--   </div> -->
</div>
